.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.logo {
  width: 100px;
  padding: 10px;
  margin: 10px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  font-size: 25px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

/* .body {
  display: flex;
} */
.search {
  display: flex;
  border: 1 px solid black;
  padding: 10px;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  padding: 30px;
  margin: 15px;
}

.card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.card-image {
  width: 100%;
  height: 60%;
}

.footer {
  margin-bottom: 0px;
}
.footer > ul {
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  list-style: none;
  padding: 10px;
}

.footer > ul > li {
  margin: 10;
}

.filter-button {
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: center; /* Center the cards horizontally */
  max-width: 1200px; /* Adjust the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;

  margin: 20;
  border: 1px solid black;
}

.login-btn {
  width: 80px;
  cursor: pointer;
}

.RestaurantMenu {
  border: 1px solid black;
  width: 300px;
}
